<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="/">🚗 ParkingPro</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/park">Park Vehicle</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ticket">Ticket Details</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/exit">Exit Vehicle</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pay">Pay Bill</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/status">Spot Status</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/history">Vehicle History</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>


<!-- 
<nav class="navbar navbar-expand-lg bg-secondary fixed-top sticky-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <h3 class="text-white position-relative">ParkingLot Management System
                <span class="bi bi-person-check-fill"></span>
            </h3>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div class="d-flex justify-content-between align-content-between">
                <ul class="navbar-nav nav-underline mt-1" id="navigation">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="home">Home Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="parkingSpots">ParkingSpots</a>
                    </li>
                    <li *ngIf="" class="nav-item">
                        <a class="nav-link" routerLink="login">Login</a>
                    </li>
                </ul>
                <!- <ul *ngIf="" class="navbar-nav nav-underline mt-1" id="dashboard">
                    <li class="nav-item position-relative" id="profile">
                        <a class="nav-link" [routerLink]="['/user/dashboard']"
                            [queryParams]="{}">
                            <span class="bi-person-circle"></span>
                        </a>
                    </li>
                    <li id="full-name" *ngIf="">
                        <label>Hi! </label>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link">Logout</button>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</nav> -->