<div class="container mt-5">
    <h2>🔍 Vehicle History</h2>
    <input class="form-control mb-3" [(ngModel)]="vehicleNo" placeholder="Search by vehicle number" />
    <button class="btn btn-secondary mb-3" (click)="search()">Search</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Vehicle</th>
                <th>Entry</th>
                <th>Exit</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of histories">
                <td>{{ history.ticketId}}</td>
                <td>{{ history.vehicleNo }}</td>
                <td>{{ history.entryTime }}</td>
                <td>{{ history.exitTime }}</td>
                <td>₹{{ history.price }}</td>
            </tr>
        </tbody>
    </table>
</div>